{% extends 'main.html' %}
{% block block %}
    <div class="block">
        <div class="block-header">
            <div class="path-hint">
                <a href="/">Главная</a><img src="../static/img/right-arrow.svg" alt="" class="header-arrow">
            </div>
            <h1>Справка</h1>
            <div class="block-menu">
                <p class="about-text">
                    <span>Notepad</span> - создавайте заметки, записывайте мысли, сохраняйте ссылки!
                </p>
            </div>
        </div>
        <div class="content">
            <div class="about-header-block about-block">
                <p class="about-text about-text-dark">Приложение <span>Notepad</span>
                    (от англ. “Блокнот, записная книжка”) позволяет создавать
                    текстовые заметки с тегами и помещать их в различные папки.
                </p>
            </div>
            <div class="about-blocks">
                <div class="about-block">
                    <img src="../static/img/home_ill.png" alt="">
                    <p class="about-text-dark">Главная страница</p>
                </div>
                <div class="about-block">
                    <img src="../static/img/folders_ill.png" alt="">
                    <p class="about-text-dark">Список созданных папок</p>
                </div>
                <div class="about-block">
                    <img src="../static/img/settings_ill.png" alt="">
                    <p class="about-text-dark">Настройки</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}