{% extends 'main.html' %}
{% block block %}
    <div class="block">
        <div class="block-header">
            <div class="path-hint">
                <a href="/">Главная</a><img src="../static/img/right-arrow.svg" alt="" class="header-arrow">
            </div>
            <h1>Изменение пароля</h1>

            <div class="block-menu">
                <form class="add-form" method="post">
                    {% with messages = get_flashed_messages() %}
                          {% if messages %}
                            <ul class=flashes>
                            {% for message in messages %}
                              <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                          {% endif %}
                    {% endwith %}

                    <input type="password" name="password" id="password"
                           placeholder="Старый пароль" autocomplete="off">

                    <input type="password" name="new-password" id="new-password"
                           placeholder="Новый пароль" autocomplete="off">

                    <button type="submit">Изменить</button>
                </form>
            </div>
        </div>

    </div>
{% endblock %}