{% extends 'main.html' %}
{% block block %}
    <div class="block">
        <div class="block-header">
            <h1>Главная</h1>
            <div class="block-menu">
                <ul class="folders">
                    {% for folder in folders %}
                        <li>
                            <a href="/{{ folder.id }}">
                                <img src="../static/img/folder.svg" alt="">
                                <span>{{ folder.name.capitalize() }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <span class="cur-subheader cur-folder">{{ current_folder.name.capitalize() }}</span>
            </div>
        </div>
        <div class="content">
            <div class="manage">
                <form method="POST" class="search-form">
                    <input type="text" id="search-note" name="search-note" placeholder="Поиск" value="{{ query }}">
                </form>
                <a href="/add_note/{{ current_folder.id }}" class="add-btn"><img src="../static/img/add.svg"
                                                                                 alt=""></a>
{#                <a href="/search_by_tag/{{ current_folder.tags }}" class="add-btn"><img src="../static/img/filter.svg"#}
{#                                                                                 alt=""></a>#}
            </div>
            <div class="notes">
                <div class="empty">  {{ empty }} </div>
                {% for note in notes %}
                    <article class="note">

                        <span class="date">{{ momentjs(note.date).fromNow() }}</span>
                        {% if note.header | length > 20 %}
                            <h2>{{ note.header.capitalize()[:20] }}...</h2>
                        {% else %}
                            <h2>{{ note.header.capitalize() }}</h2>
                        {% endif %}

                        <div class="note-text">

                            {% if note.text | length > 355 %}
                                <p>{{ note.text[:355] }}...</p>
                            {% else %}
                                <p>{{ note.text }}</p>
                            {% endif %}

                        </div>
                        {% if note.tags %}
                            <div class="tags">
                                <p class="tag"></p>
                                {% for tag in note.tags.split() %}
                                    <p class="tag">{{ tag }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="sub-btns">
                            <a href="/edit/{{ note.id }}"
                               class="edit-btn sub-btn"><img src="../static/img/pencil.svg" alt=""></a>
                            <a href="/del/{{ current_folder.id }}/{{ note.id }}"
                               class="del-btn sub-btn"><img src="../static/img/del.svg" alt=""></a>

                        </div>

                    </article>
                {% endfor %}

            </div>

        </div>
    </div>
{% endblock %}