<!DOCTYPE html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notepad</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/folder.svg') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
<script src="{{ url_for('static', filename='js/moment-with-locales.js') }}"></script>
<div class="wrapper">
    <header>
        <div class="head">
            <div class="ico"><a href="#"><img src="../static/img/folder.svg" alt=""></a></div>
            <a href="{{ url_for('home') }}" class="text-logo">Notepad</a>
        </div>
        <nav>
            <ul class="menu">
                <li>
                    <a href="/" class="menu-link">
                        <span class="hovered"></span>
                        <img src="../static/img/home.svg" alt="">
                        <span>Главная</span>
                        <img class="right-arrow" src="../static/img/right-arrow.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="{{url_for('manage_folders')}}" class="menu-link">
                        <span class="hovered"></span>
                        <img src="../static/img/manage_folders.svg" alt="">
                        <span>Управление</span>
                        <img class="right-arrow" src="../static/img/right-arrow.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('settings') }}" class="menu-link">
                        <span class="hovered"></span>
                        <img src="../static/img/settings.svg" alt="">
                        <span>Настройки</span>
                        <img class="right-arrow" src="../static/img/right-arrow.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="{{url_for('about')}}" class="menu-link">
                        <span class="hovered"></span>
                        <img src="../static/img/about.svg" alt="">
                        <span>Справка</span>
                        <img class="right-arrow" src="../static/img/right-arrow.svg" alt="">
                    </a>
                </li>
            </ul>
            <div class="user-nav">
                <img src="../static/img/user.svg" alt="" class="user-avatar"> {#src -> {user-avatar#}
                {% if user.login %}
                    <a class="user-name" href="{{ url_for('profile') }}">{{ user.login }}</a> {# -> {user-name#}
                {% else %}
                    <a class="login-ref" href="{{ url_for('login_page') }}">Войти</a>
                {% endif %}
                <div class="user-menu">
                    <ul>
                        <li><a href="{{ url_for('profile') }}">Профиль</a></li>
                        <li>
                            <div class="line"></div>
                        </li>
{#                        <li><a href="/">Сменить пароль</a></li>#}
                        <li><a href="{{ url_for('logout_page') }}">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% block block %}
    {% endblock %}

</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>