{% extends 'main.html' %}
{% block block %}
    <div class="block">
        <div class="block-header">
            <div class="path-hint">
                <a href="/">Главная</a><img src="../static/img/right-arrow.svg" alt="" class="header-arrow">
            </div>
            <h1>Добавление записи</h1>

            <div class="block-menu">
                <form class="add-form" method="post">
                    <input type="text" name="note-name" id="note-name"
                           placeholder="Название заметки" autocomplete="off">
                    <textarea name="note-text" id="note-text" cols="30" rows="10"
                              placeholder="Текст заметки"></textarea>
                    <div class="form-block">
                        <span>Теги</span>
                        <label class="form-check-label">
                            <input type="checkbox" class="tag-input" id="important"
                                   name="important">Важное
                        </label>
                        <label class="form-check-label">
                            <input type="checkbox" class="tag-input" id="education"
                                   name="education">Учеба
                        </label>
                        <label class="form-check-label">
                            <input type="checkbox" class="tag-input" id="work"
                                   name="work">Работа
                        </label>
                        <label class="form-check-label">
                            <input type="checkbox" class="tag-input" id="fun"
                                   name="fun">Развлечения
                        </label>
                        <label class="form-check-label">
                            <input type="checkbox" class="tag-input" id="thoughts"
                                   name="thoughts">Мысли
                        </label>
                    </div>
                    <button type="submit">Добавить</button>
                </form>
            </div>
        </div>

    </div>
{% endblock %}