{% extends 'main.html' %}
{% block block %}
    <div class="block">
                <div class="block-header">
                    <div class="path-hint">
                        <a href="/">Главная</a><img src="../static/img/right-arrow.svg" alt="" class="header-arrow">
                    </div>
                    <h1>Вход</h1>
                    <div class="block-menu">
                        {% with messages = get_flashed_messages() %}
                          {% if messages %}
                            <ul class=flashes>
                            {% for message in messages %}
                              <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}
                        <form class="login-form" method="post">
                            <input type="text" name="login" id="login"
                                   placeholder="Логин" required>
                            <input type="password" name="password" id="password" placeholder="Пароль" required>
                            <button type="submit">Войти</button>
                            <a href="{{ url_for('register_page')}}" class="register-ref">Зарегистрироваться</a>
                        </form>
                    </div>
                </div>

            </div>
{% endblock %}